<div class="navbar navbar-inverse bg-inverse">
    <a href="#/" class="navbar-brand">My Blog</a>
    <ul class="nav navbar-nav">
        <li class="dropdown , nav-item active">
            <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOME <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/newpost">Create New Post</a></li>
            </ul>
        </li>
        <li class="nav-item active"><a href="#/about/">ABOUT</a></li>
        <li class="nav-item active"><a href="#/contact/">CONTACT</a></li>
    </ul>

  
</div>
