


<h1>About Page</h1>
<header class="masthead">
    <p class="masthead-intro">Hi, I'm</p>
    <h1 class="masthead-heading">Theotrice McAllister!</h1>
</header>
<section class="introduction-section">
    <h1>Introduction</h1>
    <p> I am a passionate, innovative software developer that strives to keep code clean and efficient. Sharp, quick learning developer
that consistently seeking technological gains. Currently looking for a software developer opportunity as a junior
programmer, where I work alongside an expert team of developers to establish my career as a programmer. Thereby
helping to drive my career progression to more senior roles in the future.
  </p>
</section>
<section class="location-section">
    <h1>Where I'm From?</h1>
    <p>I live in Raleigh Nc near the triangle Area.</p>
    <p>Such a great place to live where there are many opportunities to grow and have a fulfilling life. Great beaches and great colleges and a great place to raise a family.</p>
</section>
<section class="questions-section">
    <h1>More About Me</h1>
    <h2> What are your favorite hobbies?</h2>
    <p>I play basketball and love working out, staying in shape and being healthy is very important to me. I am also a musician that loves to play the drums and the keyboard. I love spending time in code, I swear time goes by quick when you are coding lol.</p>
</section>
<footer class="content-footer">
    <p>Follow me on my github:</p>
    <ul class="social">
        <li><a href="https://github.com/tech4Lyfe" target="_blank">GitHub</a></li>
    </ul>
</footer>