<h1>New Post </h1>
<div>

</div>



<div ng-controller="newPostController">


    <form name="postform" ng-submit="addPost(post)" novalidate>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" ng-model="post.Author" name="postname" class="form-control" placeholder="Enter Name" ng-required="true" />
            <div ng-show="postform.postname.$touched && postform.postname.$invalid">
                <small style="color:red; display:block; text-align:center">Please enter a name</small>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" ng-model="post.Title" name="posttitle" class="form-control" placeholder="Enter Title" ng-required="true" />
            <div ng-show="postform.posttitle.$touched && postform.posttitle.$invalid">
                <small style="color:red; display:block; text-align:center">Please enter a title</small>
            </div>
        </div>

        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" ng-required="true" name="content" ng-model="post.Content" rows="5" id="comment"></textarea>
            <div ng-show="postform.content.$touched && postform.content.$invalid">
                <small style="color:red; display:block; text-align:center">Please enter content</small>
            </div>
        </div>
        <button type="submit"  ng-disabled="postform.$invalid" class="btn btn-primary">Submit</button>
    </form>
    <h3>Posts</h3>
    <div ng-repeat="post in posts">
        <h3> {{post.Title}}</h3>
        <p>{{post.Content}}</p>
        <p>{{post.Author}}</p>
        <p>{{post.PostId}}</p>
        <p>{{post.CreatedDate | date : format : shortDate}}</p>
        <button type="submit" ng-click="deletePost(post,index)" class="btn btn-danger">Delete</button>
    </div>
  
</div>